extends ../layouts/common

block main
  h2 Change Avatar
  a(href="/user/profile") Back
  form(action="/users/profile/avatar", method="POST", enctype="multipart/form-data")
    input(type="hidden", name="_csrf", value=csrfToken)
    div
      img(class="rounded", src= avatar || 'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y')
    div(class="form-group")
      input(class="form-control", type="file", name="avatar")
    button(class="btn btn-primary") Submit
