extends ../layouts/common

block main
  .row
    each book in books
      .col-3
        .card.m-2
          img.card-img-top(src= book.coverUrl || "https://i.picsum.photos/id/1011/5472/3648.jpg", alt="Book Image")
          .card-body
            h5.card-title= book.title
            p.card-text= book.description
            a.btn.btn-primary(href="/cart/add/" + book.id) Add to Cart

  nav(aria-label="pagination")
    ul(class="pagination")
      if hasPrevious
        li(class="page-item")
          a(class="page-link", href="?page=" + (currentPage - 1)) Previous
      each page in pages
          if page === currentPage
            li(class="page-item active")
              a(class="page-link", href="?page=" + page)= page
          else
            li(class="page-item")
              a(class="page-link", href="?page=" + page)= page
      
      if (hasNext)
        li(class="page-item")
          a(class="page-link", href="?page=" + (currentPage + 1)) Next
